<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD with Express</title>
</head>
<body>
    <h1>Users List</h1>
    <a href="/add">Add New User</a>
    <table border="1">
        <tr>
            <th>User Name</th>
            <th>User Specification</th>
            <th>User Contact</th>
        </tr>
        <% result.forEach(user => { %>
            <tr>
                <td><%= user.user_name %></td>
                <td><%= user.user_specification %></td>
                <td><%= user.user_contact %></td>
                <td>
                    <a href="/edit/<%= user.user_id %>">Edit</a>
                    <a href="/delete/<%= user.user_id %>">Delete</a>
                </td>
            </tr>
        <% }); %>
    </table>
</body>
</html>
